.settings {
    position: relative;
    z-index: 1000;
}

.settings .container {
    height: 200px;
    width: 203px;
    position: absolute;
    right: 2px;
    top: -8px;
    box-shadow: 0 2px 4px #183661;
}

.settings .container ul li{color: gold; margin: 2px 0;}
.settings ul li:hover {
    border: 1px solid gold;
    cursor: pointer;
}


.complain,
.contact {
    width: 50vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 30px auto;
    padding: 30px;
    background-color: #183661;
    color: gold;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.edit-profile-container {
    width: 55vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto 5px;
    padding: 30px;
    background-color: #183661;
    color: gold;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: gold;
}

.image-name-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
}

.info-container {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.image-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.custom-avatar{height: 50px; width: 120px; margin-top: -20px;}
.custom-avatar img {
    margin: 0;
  object-fit:cover;
  width: 100%;
  height: 200%;
}


.upload-btn {
    margin-top: 10px;
}


.profile-form .ant-form-item {
    margin-bottom: 16px;
}

.profile-form .ant-form-item label {
    color: gold;
    font-size: 18px;
    font-weight: 600;
}

.profile-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about {
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap:wrap ;    
}