.orderContainer{font-family: cursive; font-size: 20px;  background-color: #183661; box-shadow: 0 2px 4px #183661; border-radius: 10px; color: gold; position: relative; margin: 5px;}

.order{background-color: #183661;box-shadow: 0 2px 4px #183661; border-radius: 10px; color: gold; position: relative; padding: 10px 5px;}
.order .item{font-weight: 500; font-size: 16px; font-family: cursive;}
.order ul li{ list-style:disc; margin: 0px 0px 10px 0px;}
.ImageWrapper{height: 250px; margin: 5px; padding: 10px; text-align: center;}
.ImageWrapper img{background-color: gold; height: 90%; width: 40%;  object-fit: contain; border: 1px solid gold;}
.StatusWrapper{height: 80px; margin: 2px; border: 1px solid gold; padding: 10px; text-align: center;}
.StatusWrapper img{ height: 60px;  width: 60px; margin: 0px 15px;  object-fit: contain; border: 1px solid gold; background-color: gold; border-radius: 10px;}
