.FormContainer{ padding:0 20px; display: flex; justify-content: center; align-items: center; gap: 20px; height: auto; row-gap: 0; margin: 0;}
.FormContainer .left{ border: 1px solid orange;}
.FormContainer .right{ border: 1px solid orange;}