.cartContainer{border: none; display: flex;margin: 10px 0; width: 100%; }
.addCart{height: 80vh; margin: 20px; border: none; text-align: center; overflow-y: scroll;}
.addCart h1{position: -webkit-sticky;  position:sticky; top: 0px; background-color: white;}
.addCart table{border: 1px solid #183661; text-align: center; padding: 0px 5px; margin: 20px;}
.addCart table tbody tr{border-bottom: 1px solid lightgray;}
.addCart table thead{background-color: #183661; color: gold;position: -webkit-sticky; position: sticky; top: 47px; }
.addCart table tr td{border: none; padding: 2px;width: 100px;}
.productShow{display: flex; gap: 10px;}
.productShow img{ height: 30px; width: 30px; }
.paymentDetails{height: max-content; border: 5px solid gold; margin: 20px 0px;background-color: #183661; color: gold;}
.paymentDetails .priceInfo .item{ display: flex; justify-content: space-between; padding: 0px 10px;}
.paymentDetails .priceInfo .item p{margin: 0px;}
.paymentDetails h1{font-size: 20px; color: gold; padding: 5px 10px; border-bottom: 1px solid gold;}
.addCart table tr td .productName{width: max-content;}
.addCart table tr td .cartOperation{display: flex; align-items: center;}
.addCart table tr td .cartOperation button{border: none; background-color: #183661; color: gold; font-size: 20px; font-weight: bold; height: max-content; padding:  0px 10px;}
.addCart table tr td .cartOperation input{border: none; background-color: lightgray; outline: none; width: 50px; padding: 0px 0px 0px 10px;}
.action{background-color: #183661; height: 30px; font-size:2px; width: 30px; border-radius: 50%; color: gold;}
.action:hover{background-color: gold; color: #183661;}
.addCart table tr td .cartOperation button:hover{background-color: gold; color: #183661;}
.productPayment{height: max-content; border: 5px solid gold; margin: 20px 0px;background-color: #183661; cursor: pointer;}
.productPayment h1{font-size: 20px; padding: 10px; color: gold;}
.productPayment a{text-decoration: none; color: gold;}


